<div ng-hide="online" class="text-center connecting">
  <h1>CONNECTING<span class="blinking">_</span></h1>
  <div class="static"></div>
</div>

<div ng-show="online">
  <div class="twitter-mood">
    <div class="text-center">
      <span class="text-lg">
        Filters:
        <input type="text" name="terms"
        placeholder="comma seperated"
        ng-model="terms"
        required/>
        <button class="btn" ng-click="changeTerms()">Change</button>
        Twitter Mood:
        <span id="score" class="text-right">{{score}}</span>
      </span>
      <span>
        <input type="checkbox" name="smooth" class="smoothToggle"
        ng-model="smooth" /> smooth scores (avg)
      </span>
    </div>
  </div>

  <div class="live-tweets">
    <ul id="tweets" class="list-inline">
      <li ng-repeat="tweet in tweets track by $index" style="background-color: hsla({{tweet.primaryColor}}, 100%, 50%, 1); color: hsla({{tweet.secondaryColor}}, 100%, 50%, 1);">
        <strong>{{tweet.user}}</strong> {{tweet.text}}
      </li>
    </ul>
  </div>
</div>
